Flask
flask-cors
langchain
langchain-community
langchain-huggingface
langchain-core
langchain-pinecone
python-dotenv
faiss-cpu
sentence-transformers
transformers
tokenizers
torch
pypdf
huggingface-hub
gunicorn
numpy
requests
urllib3
pinecone-client 